---
- name: Check if terraform user API token exists
  ansible.builtin.command: |
    pveum user token list "terraform@pve" --noheader
  register: pve_tf_api_check
  changed_when: false
  ignore_errors: true

- name: Setup Terraform on pve
  when:
    - "'full-tokenid' not in pve_tf_api_check.stdout"
    - pve_tf_api_check.rc != 0
  block:
    - name: Check if Terraform user already exists
      ansible.builtin.command:
        cmd: pveum user list
      register: pve_tf_user_list
      changed_when: false
      failed_when: false
      when: inventory_hostname in groups['master']

    - name: Add a proxmox user for Terraform
      changed_when: true
      ansible.builtin.command:
        cmd: |
          pveum user add terraform@pve -comment "Terraform User"
      when:
        - inventory_hostname in groups['master']
        - "'terraform@pve' not in pve_tf_user_list.stdout"

    - name: Add a Custom Role for Tofu with Required Permissions  # noqa: no-changed-when
      ansible.builtin.command:
        cmd: >
          pveum role add TerraformRole -privs
          "Datastore.Allocate
          Datastore.AllocateSpace
          Datastore.AllocateTemplate
          Datastore.Audit
          Pool.Allocate
          Pool.Audit
          Sys.Audit
          Sys.Console
          Sys.Modify
          SDN.Use
          VM.Allocate
          VM.Audit
          VM.Clone
          VM.Config.CDROM
          VM.Config.Cloudinit
          VM.Config.CPU
          VM.Config.Disk
          VM.Config.HWType
          VM.Config.Memory
          VM.Config.Network
          VM.Config.Options
          VM.Migrate
          VM.PowerMgmt
          User.Modify
          Mapping.Use"

    - name: Assign the Role to the User at the Datacenter Level # noqa: no-changed-when
      ansible.builtin.command: |
        pveum acl modify / -user terraform@pve -role TerraformRole

    - name: Create user token for terraform@pve # noqa: no-changed-when
      ansible.builtin.command:
        cmd: pveum user token add terraform@pve provider --privsep=0
      register: pve_tf_token

    - name: Show token creation output
      ansible.builtin.debug:
        var: pve_tf_token.stdout
