auto lo
iface lo inet loopback

auto eno1
iface eno1 inet manual

auto eno2
iface eno2 inet manual

auto eno3
iface eno3 inet manual

auto eno4
iface eno4 inet manual

auto {{ frr_interface_1 }}
iface {{ frr_interface_1 }} inet manual
        mtu 9000

auto {{ frr_interface_2 }}
iface {{ frr_interface_2 }} inet manual
        mtu 9000

auto bond0
iface bond0 inet manual
        bond-slaves eno1 eno2 eno3 eno4
        bond-miimon 100
        bond-mode 802.3ad

auto vmbr0
iface vmbr0 inet static
        address {{ lo_ip }}/{{ netmask_cidr }}
        gateway {{ gateway_ip }}
        bridge-ports bond0
        bridge-stp off
        bridge-fd 0

source /etc/network/interfaces.d/*
