---
- name: Enable the OpenFabric daemon
  lineinfile:
    path: /etc/frr/daemons
    regexp: '^fabricd='
    line: 'fabricd=true'
    state: present

- name: Generate FRR configuration
  template:
    src: frr.conf.j2
    dest: /etc/frr/frr.conf
  notify:
    - restart frr

- name: Ensure FRR service starts on boot
  service:
    name: frr
    enabled: true
