---
- name: Ensure frr is installed
  ansible.builtin.package:
    name: frr
    state: present

- name: Enable the OpenFabric daemon
  ansible.builtin.lineinfile:
    path: /etc/frr/daemons
    regexp: '^fabricd='
    line: 'fabricd=true'
    state: present

- name: Generate FRR configuration
  ansible.builtin.template:
    src: frr.conf.j2
    dest: /etc/frr/frr.conf
    mode: '0600'

  notify:
    - Restart frr

- name: Ensure FRR service starts on boot
  ansible.builtin.service:
    name: frr
    enabled: true
