---
- name: Configure openfabric routing between nodes
  hosts: dl380
  become: true
  tasks:
    - name: Enable the OpenFabric daemon
      lineinfile:
        path: /etc/frr/daemons
        regexp: '^fabricd='
        line: 'fabricd=true'
        state: present

    - name: Generate FRR configuration
      template:
        src: templates/frr.conf.j2
        dest: /etc/frr/frr.conf
      notify:
        - restart frr

    - name: Ensure FRR service starts on boot
      service:
        name: frr
        enabled: true

  handlers:
    - name: restart frr
      service:
        name: frr
        state: restarted

