---
- name: Apply roles
  hosts: all
  pre_tasks:
    - name: Get kernel version
      ansible.builtin.command: uname -r
      register: kernel_version
      changed_when: false
  roles:
    - upgrade
    - packages
    - hosts
    - frr
    - { role: interfaces, when: "'pve' in ansible_kernel" }
    - { role: netplan, when: ansible_distribution == "Rocky" }
    - geerlingguy.ntp
