---
- name: Apply roles
  hosts: all
  roles:
    - upgrade
    - packages
    - hosts
    - frr
    - { role: interfaces, when: "'pve' in ansible_kernel" }
    - { role: netplan, when: ansible_distribution == "Rocky" }
    - geerlingguy.ntp
