---
- name: Base system maintenance
  hosts: all
  become: true
  roles:
    - role: upgrade
    - role: packages
    - role: hosts

- name: Network routing and netplan
  hosts: dl380
  become: true
  roles:
    - role: frr
    - role: netplan
